# Node/Next
node_modules/
.next/
out/
.vercel/
npm-debug.log*
yarn-error.log*

# Env/Secrets
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# Build-Artefakte
public/parse.worker.js

# editor swap
*.swp
*.kate-swp

# npm cache
.npm-cache/
.npmrc
